img {
  width: 500px;
  
  padding-top: 5%;
  padding-left: 30%;
  padding-right: 30%;
}
h1 {
  margin-left: 60%;
  font-family: "Permanent Marker", cursive;
}
p {
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
